@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* Para movil */
@media screen and (max-width: 576px){

/* Header */



/* Main */
main{
    padding:0;
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
}
.boxLeft{
    width: 25%;
}
.boxRight{
    width: 75%;
}  
/* Footer */

}


/* Para desktop */
@media screen and (max-width: px){

    /* Header */
    
    
    
    /* Main */
    

    /* Footer */

    }