@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* Para movil */
@media screen and (max-width: 576px){

/* Header */



/* Main */


    
/* Footer */


}
/* Para desktop */
@media screen and (max-width: 1440px){

    /* Header */
    
    
    
    /* Main */
    

    /* Footer */

    footer {
        box-sizing: border-box;
        margin: 0; 
        padding: 0; 
        background-color: #010020;
        
    }
    
    
    .containerFooter {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        font-family: 'Lato', sans-serif;
        justify-content: center;
        gap: 0.002rem;
    }
    h3 {
        color: white;
        display: flex;
        justify-content: center;
    }
    
    .subtextFooter {
        color: #545470;
        display: flex;
        justify-content: center;
    }
    
    .buttonFooter {
        background-color: white;
        color: black;
        height: 2.8rem;
        width: 8.5rem;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        
    }
    
}