@media screen and (max-width: 576px) {

.btn-group {
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 0px 0px 0px 00%;
   
}
.btn-menu{
    height: 4rem;
    width: 8rem;
    border-radius: 1.5rem;
    background-color: #00F482;
    margin: 20px;
}

.dropdown-toggle::after{
    content: none;
}

.dropdown-menu {
    background-color: #010020;
    opacity: 90%;
    height: 550%;
    width: 250%;
}

.dropdown-menu li a{
    font-weight: bold;
    font-size: 400%;
    color: #00F482;
    margin: 20px;
}

/*
.cambiante {
    color: white;
  }
  */

.img-menuLines{
    width: 50%;
    height: 100%;
}

.divider{
    margin: 50px;
}

.img-logo {
    margin: 40px;
}

.nav-desktop{
    display: none;
}
}





@media screen and (min-width: 576px) {
header{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    height: 10%;
}
.btn-menu {
    display: none;
}
.img-logotype {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.img-logo{
    height: 60%;
}
.nav-desktop{
    display: flex;
    color: white;
    flex-grow: 2;
    font-weight: 600;
    font-size: 1.5rem;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
}
span {
    color: #00F482;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
li {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li:hover {
    color: #00F482;
}

.stripe-logInLeft {
    border-left: 1px solid white;
}
}