@media screen and (max-width: 576px) {
main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 6%;
}
.btn-circleHit{
    margin-top: 50%;
}
.box-one{
    width: 100%;
    margin-left: 30%;
}
.txt-titleMain{
    width: 50%;
    color: white;
    font-size: 8vw;
    font-weight: bold;
    line-height: 90%;
    margin-top: 4%;
}
.txt-main{
    color: #545470;
    font-size: 3vw;
}
.btn-hit{
    height: 2.8rem;
    width: 8.5rem;
    border-radius: 1.5rem;
    background-color: #00F482;
    color: white;
}
.box-two-mobile{
    display: flex;
    justify-items: center;
}
.box-two-desktop{
    display: none;
}

.btn-mobile{
    height: 20rem;
    width: 20rem;
    background-color: #19191C;
    border-color: #27272D;
    border-radius: 100%;
    color: #545470;
    font-size: large;
}
}

@media screen and (min-width: 576px) {
main{
    display: flex;
    align-items: baseline;
    height: 70%;
}
.btn-mobile{
    display: none;
}
.box-one{
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
}
.txt-titleMain{
    margin: 0%;
    color: white;
    font-size: 4.5vw;
    font-weight: bold;
    line-height: 90%;
}
.txt-main{
    padding-top: 4%;
    color: #545470;
    font-size: 1.2rem;
}
.btn-hit{
    height: 4rem;
    width: 14rem;
    border-radius: 2rem;
    background-color: #00f482;
    color: white;
}

.box-two-mobile{
    display: none;
}
.box-two-desktop{
    align-self: center;
}
#img-principal{
    width: 100%;
}
}