@media screen and (max-width: 576px) {
    main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .circleHit{
        margin-top: 50%;
    }
    .boxLeft{
        width: 100%;
        margin-left: 30%;
    }
    .titleMain{
        width: 50%;
        color: white;
        font-size: 10vw;
        font-weight: bold;
    }
    .textMain{
        color: #545470;
        font-size: 3vw;
    }
    .buttonHit{
        height: 2.8rem;
        width: 8.5rem;
        border-radius: 1.5rem;
        background-color: #00F482;
        color: white;
    }
    .boxRight{
        display: flex;
        width: 85%;
        justify-items: center;
    }
    #img-principal{
        width: 50%;
    }
    .botonMobile{
        height: 20rem;
        width: 20rem;
        background-color: #19191C;
        border-color: #27272D;
        border-radius: 100%;
        color: #545470;
        font-size: large;
    }
    
}

@media screen and (min-width: 576px) {
    main{
        display: flex;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .botonMobile{
        display: none;
    }
    .boxLeft{
        padding-left: 10%;
    }
    .titleMain{
        color: white;
        font-size: 6vw;
        font-weight: bold;
        margin: 0%;
        line-height: 90%;
    }
    .textMain{
        color: #545470;
        font-size: 1.4vw;
    }
    .buttonHit{
        height: 2.8rem;
        width: 8.5rem;
        border-radius: 1.5rem;
        background-color: #00F482;
        color: white;
    }
    .boxRight{
        display: flex;
        width: 100%;
        align-self: center;
    }
    #img-principal{
        width: 50%;
    }
}